:root {
    --primary-color: #ffffff;
    --title-color: #2c2c2c;
    --title-secondary-color: #5d5d5d;
    --font-family: Montserrat, sans-serif;
    --slider-beginner: 33%;
    --slider-moderate: 66%;
    --slider-advanced: 80%;
    --slider-expert: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6;
    letter-spacing: 1px
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1rem;
}

#resume {
    padding: 1rem;
    width: 100%;
    height: 100%;
    max-width: 1000px;
}

header {
    width: 100%;
}

#name {
    color: var(--title-color);
}

#content {
    height: 100%;
    display: flex;
}

#content-left {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#content-right {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-title {
    color: var(--title-color);
}

.slider-content {
    width: 100%;
    height: 0.45rem;
    background-color: #d8d8d8;
}

.slider-value {
    display: inline-block;
    height: 0.45rem;
    background-color: var(--title-color);
}
